<div class="story-body" id={{this._id}}></div>
	{{#each articles}}
        <br>
		<li>{{this.title}}</li>
        <li>{{this.link}}</li>	
        <li>{{this.summary}}</li>	
        <br>
	{{/each}}
</div>