body{
    background: red;
}
/* section{
    background: wheat;
    width: 60%;
    height: auto;
    margin-left: 7%;
    padding-left: 25%; */

/* } */
h1{
    font-family: 'Lily Script One', cursive;
    font-size: 60px;
}
