body{
    background: url("news.jpg");
}

h1{
    font-family: 'Lily Script One', cursive;
    font-size: 60px;
    color: black;
}
.story-body {
	margin: auto;
	width: 95%;
	min-height: 200px;
	box-shadow: 0 0 10px #aaa;
	background-color: red;
}